/* RIGHT SIDE BAR
-------------------------------------------------*/

.right-sidebar-wrapper{
  right:0;
}

.sidebar-social-buttons{
  position: fixed;
  right:0;
  z-index: 1000;
  width:45px;
  top:45%;
  transform: translateY(-45%);
}

.sidebar-social-buttons .list-group-item{
  background-color: transparent;
  border: 0px solid rgba(0,0,0,0.125);
}